/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 40px;
  padding-bottom: 20px;
}

.color_grey{
    background: #ededed
}

.no_bullets{
    list-style-type: none;
}

.no_vote{
	color: #b7b7b7
}

.upvoted{
	color: #ff8e63;
}

.downvoted{
    color: #9494ff;
}

.maxwidthField {
    width: 300px
}

background-image: url("#{resource['img/glyphicons-halflings.png']}");